@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand&display=swap");

:root {
  --postgoldlight: #f5da81;
  --postgold: #ecc541;
  --postwhite: rgb(245, 245, 245);
  --postblack: rgb(39, 39, 39);
}

* {
  box-sizing: border-box;
  font-weight: lighter;
}

body {
  background-color: var(--postblack);
}

.editContainer {
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  overflow: auto;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: var(--postblack);
  font-family: Quicksand;
}

.editWrapper {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 12%;
  left: 5%;
  right: 5%;
  padding: 20px 30px;
  background-color: var(--postwhite);
  border-radius: 20px;
  border: 5px solid var(--postgold);
}

.editWrapper h1 {
  margin: 0;
  font-size: 25px !important;
}

.editWrapper p {
  margin: 0;
  font-size: 15px !important;
}

.editWrapper img,
.editWrapper form,
.editWrapper label,
.editWrapper button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Quicksand;
  text-transform: uppercase;
  font-size: 15px !important;
}

.editWrapper form input {
  font-family: Quicksand;
  background-color: white;
  color: var(--postblack);
  font-size: 13px !important;
  margin: 5px 5px;
  border: 1px solid transparent;
  border-radius: 7px;
  padding: 5px 15px;
  text-transform: uppercase;
}

.editWrapper form input:focus {
  outline: none;
  border: 1px solid var(--postgoldlight);
}

.editWrapper button {
  font-family: Quicksand;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 7px 20px;
  border-radius: 20px;
  border: none;
  background-color: var(--postgoldlight);
  color: var(--postblack);
  box-shadow: 5px 5px 8px 1px rgb(209, 209, 209);
  margin-top: 10px;
}

.editWrapper button:focus,
.editWrapper button:hover {
  background-color: var(--postgold);
}
