@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand&display=swap");

:root {
  --viewgoldlight: #f5da81;
  --viewgold: #ecc541;
  --viewwhite: rgb(245, 245, 245);
  --viewblack: rgb(39, 39, 39);
}

* {
  box-sizing: border-box;
  font-weight: lighter;
}

body {
  background-color: var(--profileblack);
}

.viewContainer {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: Quicksand;
  text-transform: uppercase;
}

.viewWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 5%;
  right: 5%;
  padding: 20px 30px;
  background-color: var(--profilewhite);
  border: 5px solid var(--profilegold);
  border-radius: 20px;
}

.viewWrapper h1 {
  margin-bottom: 10px;
  font-size: 20px !important;
}

.viewWrapper p {
  margin-bottom: 10px;
  font-size: 13px !important;
}

.viewWrapper button {
  align-items: center;
  padding: 7px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 15px !important;
  font-family: Quicksand;
  color: var(--profileblack);
  background-color: var(--profilegoldlight);
  box-shadow: 5px 5px 8px 1px rgb(209 209 209);
}

.viewWrapper button:focus,
.viewWrapper button:hover {
  background-color: var(--profilegold);
}

.viewWrapper form,
.viewWrapper label {
  display: flex;
  flex-direction: column;
  font-size: 13px !important;
}

.viewWrapper form input {
  text-align: center;
  padding: 5px 15px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: Quicksand;
  font-size: 13px !important;
  color: var(--profileblack);
  background-color: white;
  border: 1px solid transparent;
  border-radius: 7px;
}

.viewWrapper form input:focus {
  border: 1px solid var(--profilegoldlight);
  outline: none;
}
