@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand&display=swap");

:root {
  --chatgoldlight: #f5da81;
  --chatgold: #ecc541;
  --chatwhite: rgb(245, 245, 245);
  --chatblack: rgb(39, 39, 39);
}

* {
  box-sizing: border-box;
  font-weight: lighter;
}

body {
  background-color: var(--homeblack);
}

.chatContainer {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: Quicksand;
}

.chatWrapper {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 11%;
  left: 0%;
  right: 0%;
  bottom: 8.5%;
  background-color: var(--feedblack);
  overflow-x: hidden;
  height: fit-content;
  padding-bottom: 90px;
}

.chatWrapper button {
  height: fit-content;
  width: auto;
  border: none;
  outline: none;
  background-color: transparent;
}

.chatWrapper .icon {
  font-size: 20px !important;
  text-align: center;
  color: var(--navwhite);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin: 3px;
}

.chat-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 11px !important;
  color: var(--chatwhite);
  text-transform: uppercase;
  font-family: Quicksand;
  border-bottom: 1px solid rgb(70, 70, 70);
}

.chatWrapper form {
  font-family: Quicksand;
  background-color: transparent;
  padding-top: 10px;
  font-size: 1.2rem;
}

.chatWrapper form input {
  font-family: Quicksand;
  background-color: rgb(54, 54, 54);
  color: var(--chatwhite);
  font-size: 13px !important;
  margin: 5px 5px;
  border: 1px solid transparent;
  border-radius: 7px;
  padding: 5px 15px;
  text-transform: uppercase;
}

.chatWrapper form input:focus {
  outline: none;
  border: 1px solid rgb(70, 70, 70);
}

.chatList {
  width: 100%;
  height: 100%;
  color: var(--chatwhite);
  display: flex;
  justify-content: start !important;
  flex-direction: column;
}

.chatList p {
  text-align: start !important;
  border-bottom: 1px solid rgb(70, 70, 70);
  margin: 0px !important;
  padding: 5px;
  font-size: 20px !important;
}

.chatlog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.chatlog h2 {
  font-family: Quicksand;
  text-transform: uppercase;
  color: var(--chatwhite);
  font-size: 15px;
}

div.chat-single {
  margin: 0.2rem;
  width: 85%;
  display: flex;
  justify-content: center;
}

div.chat-single p {
  min-width: 30%;
  max-width: 70%;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 10px;
  text-align: center;
  color: var(--chatwhite);
}

div.from-user {
  justify-content: right;
}

div.from-user p {
  background-color: rgb(54, 54, 54);
  padding: 0 1rem 0 1rem;
  color: var(--chatwhite);
}

div.from-target {
  justify-content: left;
}

div.from-target p {
  background-color: rgb(54, 54, 54);
  padding: 0 1rem 0 1rem;
}

div.chat-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.chat-option {
  width: 100%;
}

div.chat-option p {
  font-size: 1.5rem;
  margin: 1rem;
  margin-left: 0;
  text-align: center;
}

.go-back-btn {
  align-self: flex-start;
  margin-left: 2rem;
}
