@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand&display=swap");

:root {
  --chatgoldlight: #f5da81;
  --chatgold: #ecc541;
  --chatwhite: rgb(245, 245, 245);
  --chatblack: rgb(39, 39, 39);
}

* {
  box-sizing: border-box;
  font-weight: lighter;
}

body {
  background-color: var(--chatblack);
}

.chatContainer {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: Quicksand;
}

.chatWrapper {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 11%;
  left: 0%;
  right: 0%;
  bottom: 8.5%;
  padding-bottom: 70px;
  background-color: var(--chatblack);
}

.chatMenuWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatMenu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-size: 11px !important;
  font-family: Quicksand;
  color: var(--chatwhite);
  border-bottom: 1px solid rgb(70, 70, 70);
}

.chatWrapper button {
  height: fit-content;
  width: auto;
  background-color: transparent;
  border: none;
}

.chatWrapper .icon {
  text-align: center;
  margin: 3px;
  font-size: 20px !important;
  color: var(--chatwhite);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.chatWrapper form {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  padding-top: 10px;
  font-size: 15px !important;
}

.chatWrapper form input {
  padding: 5px 15px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  font-size: 13px !important;
  font-family: Quicksand;
  color: var(--chatwhite);
  background-color: rgb(54, 54, 54);
  border: 1px solid transparent;
  border-radius: 7px;
}

.chatWrapper form input:focus {
  border: 1px solid rgb(70, 70, 70);
  outline: none;
}

.chatList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--chatwhite);
}

.chatList p {
  text-align: start !important;
  margin: 0px !important;
  padding: 5px;
  font-size: 17px !important;
  border-bottom: 1px solid rgb(70, 70, 70);
}

.chatLog {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chatLog h2 {
  font-family: Quicksand;
  text-transform: uppercase;
  color: var(--chatwhite);
  font-size: 15px;
}

.chat-single {
  margin: 0.2rem;
  width: 85%;
  display: flex;
  justify-content: center;
}

.chat-single p {
  min-width: 30%;
  max-width: 70%;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 10px;
  text-align: center;
  color: var(--chatwhite);
}

.from-user {
  justify-content: right;
}

.from-user p {
  background-color: rgb(54, 54, 54);
  padding: 0 1rem 0 1rem;
  color: var(--chatwhite);
}

.from-target {
  justify-content: left;
}

.from-target p {
  background-color: rgb(54, 54, 54);
  padding: 0 1rem 0 1rem;
}

.chat-option {
  width: 100%;
}

.chat-option p {
  font-size: 1.5rem;
  margin: 1rem;
  margin-left: 0;
  text-align: center;
}
