@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand&display=swap");

:root {
  --feedgoldlight: #f5da81;
  --feedgold: #ecc541;
  --feedwhite: rgb(245, 245, 245);
  --feedblack: rgb(39, 39, 39);
}

* {
  box-sizing: border-box;
  font-weight: lighter;
}

body {
  background-color: var(--feedblack);
}

.feedContainer {
  height: 100%;
  width: 100%;
  overflow: auto;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: Quicksand;
}

.feedWrapper {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 11%;
  left: 0%;
  right: 0%;
  bottom: 8.5%;
  background-color: var(--feedblack);
  overflow-x: hidden;
  height: fit-content;
}

.feedWrapper .feedPost {
  border-top: 1px solid rgb(70, 70, 70);
  margin-bottom: 20px;
}

.feedPost p {
  margin: 10px;
  padding: 0;
  color: var(--feedgold);
  text-align: start;
  overflow-x: hidden;
}

.feedPost {
  min-width: 390px;
  max-width: 390px;
  min-height: auto;
  max-height: auto;
  overflow-x: hidden;
}

.feedWrapper img {
  min-width: 390px;
  max-width: 390px;
  min-height: auto;
  max-height: auto;
  border-top: 1px solid rgb(70, 70, 70);
  border-bottom: 1px solid rgb(70, 70, 70);
}

.feedUser {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.feedDesc p {
  color: var(--feedwhite) !important;
  font-size: 1rem !important;
}

.feedUser a .icon {
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--navwhite);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin: 10px;
  display: flex;
  align-items: center;
}

.feedUser:hover a .icon,
.feedUser:active a .icon {
  color: var(--navgold);
  -webkit-tap-highlight-color: transparent;
}
