@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&display=swap");

:root {
  --registergoldlight: #f5da81;
  --registergold: #ecc541;
  --registerwhite: rgb(245, 245, 245);
  --registerblack: rgb(39, 39, 39);
}

* {
  box-sizing: border-box;
  font-weight: lighter;
}

body {
  background-color: var(--loginblack);
}

.registerContainer {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
}

.registerWrapper {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 7.5%;
  left: 5%;
  right: 5%;
  padding: 100px 30px;
  background-color: var(--loginwhite);
  border-radius: 20px;
  border: 5px solid var(--logingold);
}

.registerWrapper img {
  height: 50px;
  width: auto;
  font-size: 1.5rem;
}

.registerWrapper h1 {
  font-family: Quicksand;
  color: var(--loginblack);
  text-shadow: 2px 5px 8px rgb(209, 209, 209);
}

.registerWrapper p {
  font-family: Quicksand;
  color: var(--loginblack);
  padding-top: 30px;
  font-size: 0.8rem;
}

.registerWrapper button {
  font-family: Quicksand;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 7px 20px;
  border-radius: 20px;
  border: none;
  background-color: var(--logingoldlight);
  color: var(--loginblack);
  box-shadow: 5px 5px 8px 1px rgb(209, 209, 209);
  margin-top: 10px;
}

.registerWrapper button:focus,
.registerWrapper button:hover {
  background-color: var(--logingold);
}

.registerWrapper form {
  font-family: Quicksand;
  color: var(--loginblack);
  padding-top: 10px;
  font-size: 1.2rem;
}

.registerWrapper form input {
  font-family: Quicksand;
  color: var(--loginblack);
  font-size: 1rem;
  margin: 5px 0px;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 5px 15px;
}

.registerWrapper form input:focus {
  outline: none;
  border: 1px solid var(--logingoldlight);
}

.registerWrapper a:link {
  color: var(--logingold);
}

.registerWrapper a:visited {
  color: var(--logingold);
}
